.end-price-parent {
  background-color: #f44336;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.end-price-child {
  border-radius: 5rem;
  padding: 1rem;
  background-color: var(--lightGray);
  cursor: pointer;
  min-width: 9rem;
  text-align: center;
}
