.end-price-parent {
  background-color: #f44336;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.end-price-child {
  border-radius: 5rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: white;
  cursor: pointer;
  justify-content: center;
}
.price {
  background-color: white;
  padding: 1rem;
  border-radius: 5rem;
  min-width: 8rem;
  display: flex;
  justify-content: center;
}
