.MuiDataGrid-cell--textLeft.select-cells {
  justify-content: flex-end !important;
  font-family: "test" !important;
}
.MuiDataGrid-cell--textRight.class-price {
  justify-content: center !important;
}
.MuiDataGrid-cell--textLeft {
  justify-content: center !important;
}

.column-delete-product {
  cursor: pointer;
  margin: auto;
  display: flex;
  font-size: 22px;
}
.MuiDataGrid-cellContent {
  direction: rtl !important;
}
