.category-item {
  font-family: vazir;
  display: block;
  white-space: nowrap;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 7rem;
  margin-right: 5px;
}

.muirtl-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 0px !important;
}
.muirtl-67l5gl.Mui-expanded {
  margin: 0px !important;
}
.category-name {
  color: #0099ff;
}
