.active {
  color: red;
}
/* .private-header {
  background-color: var(--gray);
} */
.back-to-main {
  background-color: var(--lightGray);
  padding: 4px;
  border-radius: 4px;
}
/* p {
  font-family: "test" !important;
} */
