.link-footer {
  color: var(--darkBlue);
}
.parent-icon {
  padding: 1.2rem;
  border-radius: 50%;
  background-color: rgba(247, 242, 242, 0.349);
  display: flex;
}
.footer-icon {
  font-size: 1.3rem;
}
