@font-face {
  font-family: "IRANSansWebFaNum";
  src: url("./assets/font/IRANSansWebFaNum.ttf");
}

@font-face {
  font-family: "vazir";
  src: url("./assets/font/Vazir.ttf");
}
@font-face {
  font-family: "test";
  src: url("./assets/font/IranNastaliq.ttf");
}

* {
  font-family: "IRANSansWebFaNum";
}
html {
  scroll-behavior: smooth !important;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
:root {
  --black: black;
  --lightGray: lightgray;
  --gray: gray;
  --blue: #b2ebf2;
  --green: #69f0ae;
  --darkBlue: #081c3c;
}
.block {
  display: block;
}
.none {
  display: none;
}
a {
  -webkit-tap-highlight-color: transparent;
}
title {
  direction: ltr !important;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #eeeeee;
}
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
}
.error-conection {
  height: 70vh;
  text-align: center;
  margin-top: 20vh;
}
